*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif 'Poppins';
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
header{
    display: grid;
    text-align: center;
    padding: 50px;
}
header h2{
    font-size: 2.3rem;
}
header p{
    display: grid;
    max-width: 30rem;
    justify-self: center;
    color: hsl(229, 6%, 66%);
    
}
header h1{
    color: hsl(229, 6%, 66%);
    font-weight: lighter;
    font-size: 2.3rem;
}
.content{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 30px 30px;
}

.first-card{

    display: grid;
    padding: 20px;
    background-color: hsl(0, 0%, 98%);
    width: 300px;
    height: 200px;
    border-top: 4px solid aqua;
    border-radius: 8px;
    grid-area: 2/1/4/2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    
}
.first-card img{
    justify-self: end;

}
.first-card p{
    color: hsl(229, 6%, 66%);;
}
.second-card{
    display: grid;
    padding: 20px;
    background-color: hsl(0, 0%, 98%);
    width: 300px;
    height: 200px;
    border-top: 4px solid red;
    border-radius: 8px;
    grid-area: 1/2/3/3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
    ;
    
}
.second-card p{
    color: hsl(229, 6%, 66%);;
}
.second-card img{
    justify-self: end;

}
.third-card{
    display: grid;
    padding: 20px;
    background-color: hsl(0, 0%, 98%);
    width: 300px;
    height: 200px;
    border-top: 4px solid orange;
    border-radius: 8px;
    grid-area: 3/2/5/3;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    
}
.third-card p{
    color: hsl(229, 6%, 66%);;
}
.third-card img{
    justify-self: end;

}
.fourth-card{
    display: grid;
    padding: 20px;
    background-color: hsl(0, 0%, 98%);
    width: 300px;
    height: 200px;
    border-top: 4px solid rgb(92, 59, 238);
    border-radius: 8px;
    grid-area: 2/3/4/4;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    
}
.fourth-card p{
    color: hsl(229, 6%, 66%);;
}
.fourth-card img{
    justify-self: end;

}
@media (max-width: 375px) {
    body{
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        padding: 20px;
    }
    header h2{
        font-size: 1.7rem;
        white-space: nowrap;
    }
    header h1{
        font-size: 1.7rem;
        white-space: nowrap;
    }
    header p{
        font-size: 0.7rem;
    }
    .content {
        grid-template-columns: 1fr;
        gap: 20px; /* Adjust gap between cards if necessary */
    }

    .first-card,
    .second-card,
    .third-card,
    .fourth-card { /* Make cards take full width of the container */
        height: auto; /* Allow height to adjust based on content */
        grid-area: auto; /* Reset grid-area to stack naturally */
    }
}

